<section class="src-componentes-formulario">
  <div class="jumbotron">
    <h2>Formulario</h2>
    <hr>

    <vue-form :state="formState" @submit.prevent="enviar()">

      <validate tag="div">
        <label for="nombre">Nombre</label>
        <input 
          type="text" 
          id="nombre" 
          name="nombre"
          class="form-control"
          autocomplete="on"
          v-model.trim="formData.nombre"
          required
          :minlength="nombreLengthMin"
          :maxlength="nombreLengthMax"
          sin-espacios
        >
        <field-messages name="nombre" show="$dirty">
          <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>
          <div slot="sin-espacios" class="alert alert-danger mt-1">
            No se permiten espacios intermedios en este campo
          </div>
          <div slot="minlength" class="alert alert-danger mt-1">
            Se deben ingresar como mínimo {{nombreLengthMin}} caracteres
          </div>
          <div v-if="formData.nombre.length == nombreLengthMax" class="alert alert-danger mt-1">
            Máximo de caracteres ({{nombreLengthMax}}) alcanzados
          </div>
        </field-messages>
      </validate>
      <br>

      <validate tag="div">
        <label for="descripcion">Descripción</label>
        <input 
          type="text" 
          id="descripcion" 
          name="descripcion"
          class="form-control"
          autocomplete="on"
          v-model="formData.descripcion"
          required
        >
        <field-messages name="descripcion" show="$dirty">
          <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>
        </field-messages>
      </validate>
      <br>

      <validate tag="div">
        <label for="importe">Importe</label>
        <input 
          type="number" 
          id="importe" 
          class="form-control"
          name="importe"
          autocomplete="on"
          v-model.number="formData.importe"
          required
        >
        <field-messages name="importe" show="$dirty">
          <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>
          <div slot="importe" class="alert alert-danger mt-1">El pago ingresado no es válido</div>
        </field-messages>
      </validate>
      <br>

      <button class="btn btn-info my-4" :disabled="formState.$invalid" type="submit">Enviar</button>
      
      </vue-form>

      <template>
        <div class="container">
          <h2 class="jumbotron">Gastos registrados</h2>
          <table class="table table-bordered table-light">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Importe</th>
                <th>Fecha del registro</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(pago,idx) in pagos" :key="idx" >
                <td>{{pago.nombre}}</td>
                <td>{{pago.descripcion}}</td>
                <td>${{pago.importe}}</td>
                <td>{{pago.fechaHoy}}</td>
              </tr>
              <tr :class="pintarTotal(total,500000)">
                <td>Gasto total: ${{total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </template>
      
    </div>
</section>
