<section class="src-componentes-formulario">
  <div class="jumbotron">
    <h2>Formulario</h2>
    <hr>

    <vue-form :state="formState" @submit.prevent="enviar()">

      <validate tag="div">
        <label for="nombre">Nombre</label>
        <input 
          type="text" 
          id="nombre" 
          name="nombre"
          class="form-control"
          autocomplete="on"
          v-model="formData.nombre"
          required
          :minlength="nombreLengthMin"
          :maxlength="nombreLengthMax"
        >
        <field-messages name="nombre" show="$dirty">
          <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>
          <div slot="minlength" class="alert alert-danger mt-1">
            Se deben ingresar como mínimo {{nombreLengthMin}} caracteres
          </div>
          <div v-if="formData.nombre.length == nombreLengthMax" class="alert alert-danger mt-1">
            Máximo de caracteres ({{nombreLengthMax}}) alcanzados
          </div>
        </field-messages>
      </validate>
      <br>

      <validate tag="div">
        <label for="dni">DNI</label>
        <input 
          type="text" 
          id="dni" 
          class="form-control"
          name="dni"
          autocomplete="on"
          v-model.trim="formData.dni"
          required
          :minlength="dniMin"
          :maxlength="dniMax"
          sin-espacios
        >
        <field-messages name="dni" show="$dirty">
          <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>
          <div slot="sin-espacios" class="alert alert-danger mt-1">
            No se permiten espacios intermedios en este campo
          </div>
          <div slot="minlength" class="alert alert-danger mt-1">
            Se deben ingresar como mínimo {{dniMin}} caracteres
          </div>
          <div v-if="formData.dni.length == dniMax" class="alert alert-danger mt-1">
            Máximo de {{dniMax}} caracteres alcanzados
          </div>
        </field-messages>
      </validate>
      <br>

      <validate tag="div">
        <label for="deuda">Deuda</label>
        <input 
          type="number" 
          id="deuda" 
          class="form-control"
          name="deuda"
          autocomplete="off"
          v-model.number="formData.deuda"
          :min="pagosMin"
          required
        >
        <field-messages name="deuda" show="$dirty">
          <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>
          <div slot="deuda" class="alert alert-danger mt-1">El pago ingresado no es válido</div>
        </field-messages>
      </validate>
      <br>

      <validate tag="div">
        <label for="pagoEfectuado">Pago efectuado</label>
        <input 
          type="number" 
          id="pagoEfectuado" 
          class="form-control"
          name="pagoEfectuado"
          autocomplete="off"
          v-model.number="formData.pagoEfectuado"
          :min="pagosMin"
          required
        >
        <field-messages name="pagoEfectuado" show="$dirty">
          <div slot="required" class="alert alert-danger mt-1">Campo requerido</div>
          <div slot="pagoEfectuado" class="alert alert-danger mt-1">El pago ingresado no es válido</div>
        </field-messages>
      </validate>
      <br>

      <button class="btn btn-info my-4" :disabled="formState.$invalid" type="submit">Enviar</button>
      
      </vue-form>
     
      <template>
        <div class="container">
          <h2 class="jumbotron">Pagos registrados</h2>
          <table class="table table-bordered table-light">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Deuda</th>
                <th>Pago</th>
                <th>Deuda actualizada</th>
                <th>Fecha del registro</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(pago,idx) in pagos" :key="idx" :class="pintarFila(idx)">
                <td>{{pago.nombre}}</td>
                <td>{{pago.dni}}</td>
                <td>${{pago.deuda}}</td>
                <td>${{pago.pagoEfectuado}}</td>
                <td>${{pago.deuda - pago.pagoEfectuado}}</td>
                <td>{{pago.fechaHoy}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </template>
      
    </div>
</section>
